.about {
  .container {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 40px;
    flex: 1;
  }
  &__image {
    object-fit: contain;
  }
  &__content {
    max-width: 430px;
    line-height: 25px;
    text-align: left;
  }
  &__title {
    font-weight: normal;
    line-height: 130%;
    color: #545454;
    letter-spacing: 2px;
    max-width: 370px;
  }
  &__text {
    color: #4C4C4C;
    font-size: 15px;
  }
  @include small-tablet {
    .container {
      flex-direction: column;
      gap: 80px;
      align-items: center;
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
    }
    &__content {
    order: -1;
    max-width: 100%;
    }
    &__image {
      max-width: 100%;
    }
  }
}
