.donation {
    background: #F6F6F6;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &__image {
    max-width: 505px;
  }
  &__content {
    text-align: left;
    max-width: 600px;
  }
  &__title {
    color: #545454;
    font-weight: normal;
    line-height: 130%;
    letter-spacing: 2px;
  }
  &__span {
    color: #545454;
    font-size: 15px;
    line-height: 20px;
  }
  &__card {
    width: 320px;
    height: 43px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  &__credit {
    margin-right: 15px;
  }
  &__number {
    color: #545454;
    font-size: 20px;
    line-height: 20px;
  }
  &__text {
    font-family: Arial, sans-serif;
    font-style: italic;
    line-height: 180%;
    font-size: 12px;
    max-width: 500px;
    color: #B2B2B2;
  }
  @include small-tablet{
    .container {
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 80px;
      margin: 0 80px;
      gap: 40px;
    }

    &__image {
      order: 2;
      max-width: 100%;
    }

    &__content {
      order: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 380px;
      height: 282px;
    }
    &__text {
      min-width: 350px;
    }
  }
}
