// ваш код
.header {
    background: none;
    height: 70px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;
  }
  &__two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #F1CDB3;
  }
  &__span {
    color: #fff;
    font-size: 13px;
    padding-top: 2px;
    font-family: Arial, sans-serif;
  }
  &__list {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__link {
    color: #CDCDCD;
    font-weight: 500;
    transition: 0.2s;
    border-bottom: 2px solid #f1cdb300;
    &:hover {
      color: #fff;
      border-bottom: 2px solid #F1CDB3;
      transition: 0.2s;
    }
  }
  &__nav {
    @include small-tablet {
      position: fixed;
      top: 0;
      right: -100%;
      width: 80%;
      max-width: 300px;
      height: calc(100vh - 70px);
      background: #292929;
      transition: right 0.4s ease;
      box-shadow: -2px 0 10px rgba(0,0,0,0.1);

      &.menu--active {
        right: 0;
      }

      .header__list {
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        font-size: 32px;
        font-family: Arial;
        padding-top: 158px;
      }
    }
  }

  .burger {
    @include burger;
    display: none;

    @include small-tablet {
      display: block;
      z-index: 99;
    }
  }

}
