.help {
    text-align: center;

  .container {
    max-width: 1400px;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &__title {
    text-align: center;
    color: #545454;
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 60px;
    letter-spacing: 2px;
  }
  &__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 30px;
    max-width: 900px;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
  }
  &__image {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  &__span {
    color: #545454;
    text-align: center;
  }
}
