<section class="donation">
  <div class="container">
      <img class="donation__image" src="../img/donation-dog.png" alt="">
      <div class="donation__content">
        <h2 class="donation__title">You can also <br> make a donation</h2>
        <span class="donation__span">Name of the bank / Type of bank account</span>
        <div class="donation__card">
          <img class="donation__credit" src="../img/credit-card.svg" alt="">
          <span class="donation__number">8380 2880 8028 8791 7435</span>
        </div>
        <p class="donation__text">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
  </div>
</section>
