<div class="container">
  <div id="lightgallery" class="gak">
    <a href="img/dog4.jpg" data-lg-size="1600-2400" >
      <img alt="img1" src="img/dog4.jpg" width="1000px">
    </a>
    <a class="pets" href="img/dog2.jpg" data-lg-size="1024-800">
      <img alt="img2" src="img/dog2.jpg" width="300px">
    </a>
    <a class="pets" href="img/dog1.jpg" data-lg-size="1024-800">
      <img alt="img3" src="img/dog1.jpg" width="300px">
    </a>
    <a class="pets" href="img/dog3.jpg" data-lg-size="1024-800">
      <img alt="img4" src="img/dog3.jpg" width="300px">
    </a>
  </div>
</div>
