<section class="help">
  <div class="container">
      <h2 class="help__title">How you can help <br> our shelter</h2>
      <div class="help__grid">

        <div class="help__item">
          <img class="help__image" src="../img/icon-pet-food.svg" alt="">
          <span class="help__span">Pet Food</span>
        </div>
        <div class="help__item">
          <img class="help__image" src="../img/icon-transportation.svg" alt="">
          <span class="help__span">Transportation</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-toys.svg" alt="">
          <span class="help__span">Toys</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-bowls-and-cups.svg" alt="">
          <span class="help__span">Bowls and cups</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-shampoos.svg" alt="">
          <span class="help__span">Shampoos</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-vitamins.svg" alt="">
          <span class="help__span">Vitamins</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-medicines.svg" alt="">
          <span class="help__span">Medicines</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-collars-leashes.svg" alt="">
          <span class="help__span">Collars / Leashes</span>
      </div>
      <div class="help__item">
          <img class="help__image" src="../img/icon-sleeping-area.svg" alt="">
          <span class="help__span">Sleeping areas</span>
      </div>
  </div>
</section>
