<section class="pets">
  <div class="container">
    <h2 class="pets__title">Our friends who <br> are looking for a house</h2>

      <div class="swiper petSwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-katrine.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Katrine</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-jennifer.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Jennifer</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-woody.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Woody</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-sophia.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Sophia</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-timmy.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Timmy</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-charly.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Charly</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-scarlet.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Scarlett</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pets__card">
              <img class="pets__image" src="../img/pets-freddie.png" alt="Grey cat Katrine">
              <h3 class="pets__subtitle">Freddie</h3>
              <button class="pets__button-secondary">Learn more</button>
            </div>
          </div>


        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
        <a href="#" class="pets__button-primary">Get to know the rest</a>
  </div>

</section>
